<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>vial-qmk nightly</title>
    <style type="text/css">
        .ansi2html-content {
            display: inline;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        .body_foreground {
            color: #AAAAAA;
        }

        .body_background {
            background-color: #000000;
        }

        .body_foreground>.bold,
        .bold>.body_foreground,
        body.body_foreground>pre>.bold {
            color: #FFFFFF;
            font-weight: normal;
        }

        .inv_foreground {
            color: #000000;
        }

        .inv_background {
            background-color: #AAAAAA;
        }

        .ansi1 {
            font-weight: bold;
        }

        .ansi31 {
            color: #aa0000;
        }

        .ansi32 {
            color: #00aa00;
        }

        .ansi33 {
            color: #aa5500;
        }
    </style>
</head>

<body class="body_foreground body_background" style="font-size: normal;">

<pre class="ansi2html-content">
<div style="float:left;width:70%">
<h1><a href="https://github.com/zhol0777/vial-nightly">{{ page_header }}</a></h1>
<h2>Commit: {{ git_commit_id }}</h2>
<h2>Build time: {{ build_time }}</h2>
<hr>
This website is not affiliated with Vial and not endorsed by Vial's developers. Disclaimer: (per xyz) <br>
from the official vial standpoint, end users should obtain their firmware from the keyboard maker/vendor<br>
in short, vial website is not a firmware delivery channel<br>
basically there's no way for me to check whether a firmware i compiled works on a specific device that i don't have, and it's also extra (unpaid of course) work and support for something vendors should be doing themselves<br>
the problem would be that any qmk update potentially could break firmware<br>
as well as compiler or library differences<br>
<br>
[4:31 PM]xyz: oh another thing is people expect once they get their board into qmk it's gonna work forever but thats just not the case<br>
[4:31 PM]xyz: since obviously they don't have every keyboard and cannot test everything<br>
[4:31 PM]xyz: for example qmk updated something and matrix 1.2og firmware broke and nobody knows why<br>
[4:32 PM]xyz: probably something simple but you won't know unless you have the pcb and try to debug it<br>
<hr>
{{ git_log }}
<hr>

{% for build in builds -%}
    {% if build.ok %}
{{ build.build_string }}{{ build.build_spacing }}<span class="ansi1 ansi32">[OK]      <a class="ansi1" href="{{ build.rules_mk_html }}">[rules.mk]</a></span>
    {% elif build.warnings %}
{{ build.build_string }}{{ build.build_spacing }}<span class="ansi1 ansi33">[WARNINGS]<a class="ansi1" href="{{ build.rules_mk_html }}">[rules.mk]</a></span>
    {% elif build.errors %}
{{ build.build_string }}{{ build.build_spacing }}<span class="ansi1 ansi31"><a class="ansi31" href="{{ build.error_log_html }}">[ERRORS]</a>  <a class="ansi1" href="{{ build.rules_mk_html }}">[rules.mk]</a></span>
    {% endif %}
{%- endfor %}

</div>
<div style="float:right">
{% for fw in fw_files -%}
<b><a href={{ fw }} style="color:#FAED27">{{ fw }}</a></b>
{% endfor %}
<br style="clear:both;"/>
</div>
</pre>
</body> 
</html>
